/* App.css */

/* Shared Styles */
.header {
    text-align: center;
    color: #333;
    font-family: Arial, sans-serif;
}

.button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.button:hover {
    background-color: #45a049; /* Darker green for hover */
}

.input,
.select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

/* CreditTable Component Styles */
.table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: 1px solid #ddd;
}

.td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

/* NewLoanFormPage Component Styles */
.form {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-family: Arial, sans-serif;
}

.label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.notification {
    padding: 10px;
    background-color: #e7f9e7; /* Light green background */
    border: 1px solid #4CAF50; /* Green border */
    border-radius: 4px;
    text-align: center;
    margin-bottom: 10px;
}
